@charset "utf-8";

/* resets */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* default styles */
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #152321;
    position: relative;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #f1f1f1;
    font-size: 3.5em;
    line-height: 1em;
    font-weight: 300;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f1f1f1;
    font-size: 2em;
    font-weight: 300;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f1f1f1;
    font-size: 1.7em;
    font-weight: 300;
}

.sub-title {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f1f1f1;
    font-size: 1.4em;
    margin-top: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 280px auto 40px;
    grid-template-areas: 'hdr'
                         'main'
                         'foot';
}

header {
    grid-area: hdr;
    text-align: left;
    padding: 30px 50px 0 50px;
}

.home-link {
    text-decoration: none;
}

.hdg-divider {
    border-bottom: none;
}

.surname {
    padding-bottom: 0;
}

.divider {
    display: inline-block;
    border-top: 2px solid #f1f1f1;
    margin-top: 20px;
    padding: 20px 0;
}

main {
    grid-area: main;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 40px;
    background-image: url("/images/triangles-large.png");
    background-size: cover;
    background-position: right top;
}

.main-body {
    margin: 10px 30px 30px 30px;
    width: 100%;
    flex: 1;
    display: block;
}

.detail {
    display: flex;
    flex-direction: column;
    padding: 10px 0 30px 50px;
    width: 100%;
}

.detail-row {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 0;
}

.box {
    width: 95px;
    height: 290px;
    background-color: #00d3ad;
    margin-bottom: 20px;
    text-align: center;
    border: outset #fff; 
}

.big-box {
    height: 330px;
}

#title-box-bio {
    transition: transform 0.5s ease;
}

#title-box-bio.rotate {
    transform: rotate(-45deg);
}

#title-box-skills {
    transition: transform 0.5s ease;
}

#title-box-skills.rotate {
    transform: rotate(-45deg);
}

#title-box-work {
    transition: transform 0.5s ease;
}

#title-box-work.rotate {
    transform: rotate(-45deg);
}

#title-box-contact {
    transition: transform 0.5s ease;
}

#title-box-contact.rotate {
    transform: rotate(-45deg);
}

.box-title {
    transform: rotate(45deg);
    font-family: 'Roboto Condensed', sans-serif;
    color: #f1f1f1;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 290px;
    vertical-align: middle;
}

.big-box-title {
    line-height: 330px;
    vertical-align: middle;
}

.box-title:hover {
    cursor: pointer;
}

.extended-box {
    background: linear-gradient(to right, #00d3ad 90%, rgba(255, 0, 0, 0) 100%);
    width: 0;
    height: 290px;
    padding: 10px 0;
    overflow: hidden;
    transition: width 0.5s ease-out 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.extended-big-box {
    height: 330px;
}

.inline {
    display: inline;
    padding-right: 20px;
}

.extended-text {
    color: #152321;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.2em;
    margin-right: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.extended-text ul {
    margin: 0;
}

.extended-box.visible {
    width: 80%;
    transition: width 0.5s ease-in-out;
    transform: translateX(0);
    border-top: outset #fff;
    border-bottom: outset #fff;
}

.extended-box.visible .extended-text {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.5s;
}

.extended-box.hidden {
    width: 0;
    transition: width 0.5s ease-in-out 0.5s;
    transform: translateX(-100%);
    padding: 0;
}

.extended-box.hidden .extended-text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0s;
}

.contact-line {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.no-bullets {
    list-style: none;
}

li a {
    text-decoration: none;
}

.slide-show {
    width: 1150px;
    margin: 50px 0 30px 50px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: flex-start;
    position: relative;
}

.slide {
    width: 200px;
    display: inline-block;
}

.slide img {
    width: 200px;
}

.text-block {
    color: #f1f1f1;
    margin-top: 10px;
    padding-right: 70px; 
}

.slick-prev {
    position: absolute;
    left: -90px;
}

.slick-next {
    position: absolute;
    right: -40px;
}

.slick-prev, .slick-next {
    font-size: 2em;
    top: 35%;
    background: transparent;
    color: #f1f1f1;
    cursor: pointer;
    border: none;
    outline: none;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -85px;
    display: flex;
    justify-content: center;
    width: 75%;
}

.slick-dots ul {
    padding: 0;
}

.slick-dots li button:before {
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #f1f1f1;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
}

/* footer styles */
footer {
    grid-area: foot;
    background-color: #152321;
    height: 40px;
    position: absolute;
    padding: 10px 0;
    position: relative;
}

footer p {
    color: #f1f1f1;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 0.9em;
    padding-left: 20px;
}

/* Tablet breakpoint - screen sizes from 768-1080px */
@media (min-width: 768px){

    body {
        background-image: none;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 350px auto 40px;
        grid-template-areas: 'hdr'
                             'main'
                             'foot';
    }

    .hdg-divider {
        border-bottom: 2px solid #f1f1f1;
    }

    .surname {
        padding-bottom: 25px;
    }
    
    .divider {
        border-top: none
    }

    .extended-box.visible {
        width: 85%;
    }

    .extended-text {
        font-size: 1.1em;
        margin-right: 100px;
        margin-left: 25px;
        line-height: 1.2em;
    }

    .contact-line {
        column-gap: 20px;
    }
}

/* Laptop breakpoint - screen sizes from 1080-1245px */
@media (min-width: 1080px){

    body {
        background-image: url("/images/triangles-large.png");
        background-size: cover;
        background-position: center center;
        height: 100vh;
    }

    h1 {
        font-size: 3.8em;
        line-height: 1.1em;
    }
    
    h2 {
        font-size: 2.3em;
    }

    .wrapper {
        height: 100vh;
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 350px auto 40px;
    }
    
    header {
        padding: 30px 0 0 80px;
    }

    main {
        background-image: none;
    }

    .main-body {
        padding-left: 50px;
    }

    .detail {
        padding: 10px 0 30px 80px;
    }

    .extended-box.visible {
        width: 90%;
    }

    .extended-text {
        font-size: 1.2em;
        margin-right: 100px;
        margin-left: 25px;
        line-height: 1.2em;
    }

    footer p {
        padding-left: 40px;
    } 
}

/* Desktop breakpoint - screen sizes from 1245-1500px */
@media (min-width: 1245px){

    h1 {
        font-size: 4em;
        line-height: 1.2em;
    }
    
    h2 {
        font-size: 2.6em;
    }

    .extended-text {
        font-size: 1.3em;
        line-height: 1.3em;
    }

    footer p {
        padding-left: 80px;
    }

}

/* Large screen breakpoint - screen sizes over 1500px */
@media (min-width: 1500px){

    .extended-text {
        font-size: 1.4em;
        line-height: 1.3em;
    }

}

